* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  display: flex;
  height: 84px;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f7fa;
  border: none;
  box-sizing: border-box;
}
.nav-container {
  display: flex;
  list-style: none;
  gap: 50px;
}
.btn-login {
  margin-right: 14px;
  color: #4caf4f;
  border: none;
  padding: 10px 20px;
  background-color: #f5f7fa;
  width: 77px;
  height: 40px;
  box-sizing: border-box;
  font-size: 14px;
}
.btn-sign_up {
  padding: 10px 20px;
  color: white;
  background-color: #4caf4f;
  border: none;
  border-radius: 8px;
  width: 91px;
  height: 40px;
  font-size: 14px;
  box-sizing: border-box;
}
#main-1{
  width: 1440px;
  height: 1285px;
  border: none;
  box-sizing: border-box;
}
.section-img {
  width: 1440px;
  height: 599px;
  border: none;
  display: flex;
  padding: 96px 144px;
  gap: 104px;
  align-items: center;
box-sizing: border-box;
}
.image-container1 {
  width: 657px;
  height: 276px;
  border: none;
  box-sizing: border-box;
}
.image-container2 {
  width: 391px;
  height: 407px;
  border: none;
  box-sizing: border-box;
}
.cont-p{
    font-size: 16px;
    color: #717171;
    margin-top: 16px;
}
.btn-register{
    background-color: #4CAF4F;
    border: none;
    color: white;
    border-radius: 5px;
    width: 128px;
    height: 52px;
    margin-top: 32px;
    box-sizing: border-box;
}
.dot{
    margin-left: auto;
    margin-right: auto;
    width: 46px;
    height: 10px;
    border: none;
    padding: 96px;
    box-sizing: border-box;
}
.sec2{
    margin-top: 40px;
    width: 1440px;
    height: 190px;
    padding:0px 144px;
    border: none;
    box-sizing: border-box;

}
.sec-2-text{
    text-align: center;
    width: 1110px;
    height: 76px;
    border: none;
    box-sizing: border-box;
}
.text1{
font-size: 32px;
color: #4D4D4D;
}
.text2{
    font-size: 16px;
    color: #717171;
}
.sec2-logo{
    width: 1152px;
    height: 98px;
    border: none;
    box-sizing: border-box;
    margin-top: 16px;
}
.sec3{
    width: 1440px;
    height:416px;
    border: none;
    box-sizing: border-box;
    margin-top: 40px;
}
.sec3-text{
    text-align: center;
}
.sec3-text-1{
    font-size: 36px;
    color: #4D4D4D;
}
.sec3-text-2{
    font-size: 16px;
    width: 1440px;
    color: #717171;
    height: 24px;
    margin-top: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.sec3-text-img{
    display: flex;
    width: 1440px;
    height: 280px;
    padding: 0px 144px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: auto;
}
.sec3-img1{
    width: 299px;
    height: 260px;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow:0 0 25px rgb(250, 247, 247);
}
.sec3-img1-logo{
    width: 65px;
    height: 56px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.sec3-img1-text1{
    color: #4D4D4D;
    font-size: 28px;
    width: 267px;
    height: 72px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 8px;
}
.sec3-img1-text2{
    text-align: center;
    font-size: 14px;
    color: #717171;
}
.sec3-img2{
    width: 331px;
    height: 280px;
    padding: 24px 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow:0 0 25px rgb(250, 247, 247);
}
.sec3-img2-logo{
    width: 65px;
    height: 56px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.sec3-img2-text1{
     width: 267px;
     height: 72px;
     color: #4D4D4D;
     font-size: 28px;
     font-weight: bold;
     box-sizing: border-box;
     text-align: center;
     margin-bottom: 8px;
}
.sec3-img2-text2{
width: 240px;
height: 80px;
color: #717171;
font-size: 14px;
text-align: center;
}
.sec3-img3{
width: 299px;
    height: 260px;
    padding: 24px 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    box-shadow:0 0 25px rgb(250, 247, 247);
}
.sec3-img3-logo{
   width: 65px;
    height: 56px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.sec3-img3-text1{
    width: 267px;
     height: 72px;
     color: #4D4D4D;
     font-size: 28px;
     font-weight: bold;
     box-sizing: border-box;
     margin-bottom: 8px;
     text-align: center;
}
.sec3-img3-text2{
width: 240px;
height: 80px;
color: #717171;
font-size: 14px;
text-align: center;
}
