* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
nav {
  display: flex;
  height: 84px;
  justify-content: space-between;
  padding: 0 144px;
  align-items: center;
  background-color: #f5f7fa;
  border: none;
}
.nav-container {
  display: flex;
  list-style: none;
  gap: 50px;
}
.nav-container li:hover{
  color: red;
  transform: scale(1.1);
  cursor: pointer;
}
.btn-login {
  margin-right: 14px;
  color: #4caf4f;
  border: none;
  padding: 10px 20px;
  background-color: #f5f7fa;
  width: 77px;
  height: 40px;
  box-sizing: border-box;
  font-size: 14px;
  transition: all 0.3s ease-in-out;

}
.btn-login:hover{
  background-color: rgb(236, 10, 10);
  color: #F5F7FA;
  border-radius: 8px;
  cursor: pointer;
}
.btn-sign_up {
  padding: 10px 20px;
  color: white;
  background-color: #4caf4f;
  border: none;
  border-radius: 8px;
  width: 91px;
  height: 40px;
  font-size: 14px;
    transition: all 0.3s ease-in-out;
}
.btn-sign_up:hover{
  background-color: rgb(236, 10, 10);
  border-radius: 8px;
  cursor: pointer;
}
#main-1 {
  height: 1300px;
  border: none;
}
.section-img {
  height: 410px;
  border: none;
  display: flex;
  padding: 96px 144px;
  gap: 104px;
  align-items: center;
}
.image-container1 {
  width: 657px;
  height: 276px;
  border: none;
}
.image-container2 {
  width: 391px;
  height: 407px;
  border: none;
}
.image-container2:hover{
  transform: scale(1.1);
}
.cont-p {
  font-size: 16px;
  color: #717171;
  margin-top: 16px;
}
.btn-register {
  background-color: #4caf4f;
  border: none;
  color: white;
  border-radius: 5px;
  width: 128px;
  height: 52px;
  margin-top: 32px;
  transition: 0.3s ease-in-out;
}
.btn-register:hover{
   background-color: rgb(236, 10, 10);
  border-radius: 8px;
  transition: 0.3ms ease-in-out;
}
.dot {
  margin-left: auto;
  margin-right: auto;
  width: 46px;
  height: 10px;
  border: none;
  padding: 96px;
}
.sec2 {
  margin-top: 40px;
  height: 190px;
  padding: 0px 144px;
  border: none;
}
.sec-2-text {
  text-align: center;
  height: 76px;
  border: none;
}
.text1 {
  font-size: 32px;
  color: #4d4d4d;
}
.text2 {
  font-size: 16px;
  color: #717171;
  margin-top: 20px;
}
.sec2-logo {
  width: 1152px;
  height: 98px;
  border: none;
  margin-top: 16px;
}
.sec3 {
  height: 416px;
  border: none;
  margin-top: 40px;
}
.sec3-text {
  text-align: center;
}
.sec3-text-1 {
  font-size: 36px;
  color: #4d4d4d;
}
.sec3-text-2 {
  font-size: 16px;
  color: #717171;
  height: 24px;
  margin-top: 25px;
  margin-bottom: 16px;
}
.sec3-text-img {
  display: flex;
  height: 280px;
  padding: 0px 144px;
  justify-content: center;
  align-items: center;
  gap: 65px;
  margin-top: 20px;
}
.sec3-img1 {
  width: 299px;
  height: 260px;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}
.sec3-img1:hover{
  cursor: pointer;
  transform: scale(1.0);
  box-shadow: 2px 2px 10px #000;
}
.sec3-img1-logo {
  width: 65px;
  height: 56px;
  margin-bottom: 16px;
}
.sec3-img1-text1 {
  color: #4d4d4d;
  font-size: 28px;
  width: 267px;
  height: 72px;
  text-align: center;
  margin-bottom: 8px;
}
.sec3-img1-text2 {
  text-align: center;
  font-size: 14px;
  color: #717171;
}
.sec3-img2 {
  width: 331px;
  height: 280px;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.sec3-img2:hover{
  cursor: pointer;
  transform: scale(1.0);
  box-shadow: 2px 2px 10px #000;
}
.sec3-img2-logo {
  width: 65px;
  height: 56px;
  margin-bottom: 16px;
}
.sec3-img2-text1 {
  width: 267px;
  height: 72px;
  color: #4d4d4d;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}
.sec3-img2-text2 {
  width: 240px;
  height: 80px;
  color: #717171;
  font-size: 14px;
  text-align: center;
}
.sec3-img3 {
  width: 299px;
  height: 260px;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
}
.sec3-img3:hover{
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 2px 2px 10px #000;
}
.sec3-img3-logo {
  width: 65px;
  height: 56px;
  margin-bottom: 16px;
}
.sec3-img3-text1 {
  width: 267px;
  height: 72px;
  color: #4d4d4d;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}
.sec3-img3-text2 {
  width: 240px;
  height: 80px;
  color: #717171;
  font-size: 14px;
  text-align: center;
}
#main-2 {
  height: 2242.2px;
  margin-top: 100px;
}
.main2-sec1 {
  height: 433px;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 144px;
}
.main2-sec1-logo {
  width: 442px;
  height: 433px;
}
.main2-sec1-text {
  width: 661px;
  height: 268px;
}
.main2-sec1-text1 {
  color: #4d4d4d;
  width: 601px;
  height: 88px;
  line-height: 44px;
  font-size: 28px;
}
.main2-sec1-text2 {
  line-height: 20px;
  font-size: 14px;
  width: 601px;
  height: 80px;
  color: #717171;
  margin-top: 16px;
}
.main2-sec1-btn {
  background-color: #4caf4f;
  border: none;
  color: white;
  width: 151px;
  height: 52px;
  margin-top: 32px;
  border-radius: 4px;
}
.main2-sec2 {
  height: 288px;
  padding: 64px 144px;
  margin-top: 48px;
  display: flex;
  gap: 40px;
  background-color: #f5f7fa;
}
.main2-sec2-text {
  height: 120px;
  width: 540px;
}
.main2-sec2-text1 {
  width: 408px;
  height: 88px;
  line-height: 44px;
}
.main2-sec2-text2 {
  font-size: 16px;
  line-height: 24px;
  color: #18191f;
  width: 540px;
  height: 24px;
}
.main2-sec2-logo11 {
  width: 540px;
  height: 160px;
}
.main2-sec2-logo11-box12 {
  width: 540px;
  height: 60px;
  margin-bottom: 40px;
  display: flex;
  gap: 20px;
}
.main2-sec2-logo11-box1-full {
  width: 255px;
  height: 60px;
  display: flex;
  gap: 10px;
}
.main2-sec2-logo11-box1-num {
  color: #4d4d4d;
  font-size: 28px;
  font-weight: bold;
  width: 191px;
  height: 36px;
}
.main2-sec2-logo11-box1-text {
  color: #717171;
  width: 191px;
  height: 24px;
  line-height: 24px;
}

.main2-sec2-logo11-box2-full {
  width: 255px;
  height: 60px;
  display: flex;
  gap: 10px;
}
.main2-sec2-logo11-box2-num {
  color: #4d4d4d;
  font-size: 28px;
  font-weight: bold;
  width: 191px;
  height: 36px;
}
.main2-sec2-logo11-box2-text {
  color: #717171;
  width: 191px;
  height: 24px;
  line-height: 24px;
}
.main2-sec2-logo12-box34 {
  width: 540px;
  height: 60px;
  margin-bottom: 40px;
  display: flex;
  gap: 20px;
}
.main2-sec2-logo12-box3-full {
  width: 255px;
  height: 60px;
  display: flex;
  gap: 10px;
}
.main2-sec2-logo12-box3-num {
  color: #4d4d4d;
  font-size: 28px;
  font-weight: bold;
  width: 191px;
  height: 36px;
}
.main2-sec2-logo12-box3-text {
  color: #717171;
  width: 191px;
  height: 24px;
  line-height: 24px;
}
.main2-sec2-logo12-box4-full {
  width: 255px;
  height: 60px;
  display: flex;
  gap: 10px;
}
.main2-sec2-logo12-box4-num {
  color: #4d4d4d;
  font-size: 28px;
  font-weight: bold;
  width: 191px;
  height: 36px;
}
.main2-sec2-logo12-box4-text {
  color: #717171;
  width: 191px;
  height: 24px;
  line-height: 24px;
}
.main2-sec3 {
  height: 433.4px;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 144px;
  margin-top: 48px;
}
.main2-sec3-logo {
  width: 441.3px;
  height: 433.4px;
}
.main2-sec3-text {
  width: 661px;
  height: 308px;
}
.main2-sec3-text1 {
  color: #4d4d4d;
  width: 601px;
  height: 88px;
  line-height: 44px;
  font-size: 28px;
}
.main2-sec3-text2 {
  line-height: 20px;
  font-size: 14px;
  width: 601px;
  height: 120px;
  color: #717171;
  margin-top: 16px;
}
.main2-sec3-btn {
  background-color: #4caf4f;
  border: none;
  color: white;
  width: 151px;
  height: 52px;
  margin-top: 32px;
  border-radius: 4px;
}
.main2-sec4 {
  height: 390px;
  margin-top: 48px;
  padding: 32px 144px;
  display: flex;
  gap: 78px;
  background-color: #f5f7fa;
}
.main2-sec4-logo {
  width: 326px;
  height: 326px;
  border-radius: 8px;
}
.main2-sec4-text {
  width: 748px;
  height: 324px;
}
.main2-se4-text123-text1 {
  width: 748px;
  height: 168px;
  color: #717171;
  font-size: 16px;
  line-height: 24px;
}
.main2-se4-text123-text2 {
  width: 748px;
  height: 28px;
  color: #4caf4f;
  margin-top: 16px;
}
.main2-se4-text123-text3 {
  height: 24px;
  width: 748px;
  color: #89939e;
  margin-bottom: 32px;
}
.main2-sec4-logo {
  width: 748px;
  height: 48px;
}
.main2-sec5 {
  height: 506px;
  margin-top: 48px;
}
.main2-sec5-text12 {
  height: 124px;
  text-align: center;
}
.main2-sec5-text1 {
  height: 44px;
  color: #4d4d4d;
  line-height: 44px;
  font-size: 36px;
}
.main2-sec5-text2 {
  width: 628px;
  height: 72px;
  color: #717171;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  margin-left: 340px;
  margin-top: 10px;
}
.main2-sec5-logo123 {
  height: 366px;
  padding: 0 144px;
  display: flex;
  gap: 16px;
  position: relative;
  margin-top: 40px;
}
.main2-sec5-logo1 {
  height: 366px;
  width: 368px;
}
.main2-sec5-logo1-img {
  height: 286px;
  width: 368px;
}
.main2-sec5-logo1-text {
  color: #717171;
  height: 176px;
  text-align: center;
  padding: 16px 45px;
  line-height: 28px;
  font-size: 20px;
  width: 317px;
  position: absolute;
  z-index: 1;
  bottom: 0;
}
.main2-sec5-logo1-text1 {
  width: 285px;
  height: 84px;
  background-color: #f5f7fa;
}
.main2-sec5-logo1-btn {
  width: 285px;
  height: 34px;
  background-color: #f5f7fa;
  color: #4caf4f;
}
.main2-sec5-logo2 {
  height: 366px;
  width: 368px;
}
.main2-sec5-logo2-img {
  height: 286px;
  width: 368px;
}
.main2-sec5-logo2-text {
  color: #717171;
  height: 176px;
  text-align: center;
    padding: 16px 45px;
  line-height: 28px;
  font-size: 20px;
  width: 317px;
  position: absolute;
  z-index: 1;
  bottom: 0;
}
.main2-sec5-logo2-text1 {
  width: 285px;
  height: 84px;
  background-color: #f5f7fa;
}
.main2-sec5-logo2-btn {
  width: 285px;
  height: 34px;
  background-color: #f5f7fa;
  color: #4caf4f;
}
.main2-sec5-logo3 {
  height: 366px;
  width: 368px;
}
.main2-sec5-logo3-img {
  height: 286px;
  width: 368px;
}
.main2-sec5-logo3-text {
  color: #717171;
  height: 176px;
  text-align: center;
  padding: 16px 45px;
  line-height: 28px;
  font-size: 20px;
  width: 317px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  
}
.main2-sec5-logo3-text1 {
  width: 285px;
  height: 84px;
  background-color: #f5f7fa;
}
.main2-sec5-logo3-btn {
  width: 285px;
  height: 34px;
  background-color: #f5f7fa;
  color: #4caf4f;
}
#main-3{
  height: 628px;
}
.main3-sec1{
  height: 300px;
  background-color: #F5F7FA;
  padding: 20px;
}
.main3-sec1-text{
  line-height: 76px;
  height: 152px;
  width: 887px;
  text-align: center;
  color: #263238;
  font-size: 36px;
  margin: 32px 220px;
}
.main3-sec1-btn{
  padding: 0 560px;
}

.main3-sec1-btn1{
  height: 52px;
  width: 178px;
  padding: 14px 32px;
  background-color: #4CAF4F;
  color: white;
  border-radius: 4px;
  border: none;
}
.main3-sec2{
  height: 328px;
  background-color: #263238;
  padding: 64px 165px;
  display: flex;
  gap: 125px;
}
.main3-sec2-logo{
  height: 200px;
  width: 305px;
}
.main3-sec2-logo-text{
  color: #F5F7FA;
  font-size: 14px;
  line-height: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.main3-sec2-text123{
  width: 635px;
  height: 200px;
  display: flex;
  gap: 30px;
}
.main3-sec2-text1{
  width: 160px;
  height: 200px;
}
.main3-sec2-text1-txt1{
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 24px;
  height: 28px;
  width: 160px;
}
.main3-sec2-tetx1-txt2{
  color:#F5F7FA;
  font-size: 14px;
  width: 160px;
  height: 148px;
}
.main3-sec2-tetx1-txt2 p{
  padding-bottom: 12px;
}

.main3-sec2-text2{
  width: 160px;
  height: 200px;
}
.main3-sec2-text2-txt1{
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 24px;
  height: 28px;
  width: 160px;
}
.main3-sec2-text2-txt2{
  color:#F5F7FA;
  font-size: 14px;
  width: 160px;
  height: 148px;
}
.main3-sec2-text2-txt2 p{
  padding-bottom: 12px;
}
.main3-sec2-text3-txt{
  height: 28px;
  width: 160px;
  color: #FFFFFF;
}
.main3-sec2-text3-email{
  height: 40px;
  width: 255px;
}
